@model FilmStudioManager.Models.Genre
@{
    ViewData["Title"] = "Edit Genre";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="GenreId">

    <div class="form-group">
        <label asp-for="GenreName">Name</label>
        <input asp-for="GenreName" class="form-control">
        <span asp-validation-for="GenreName" class="text-danger"></span>
    </div>

    <button type="submit" class="aero">Update</button>
    <a asp-action="Index" class="aero danger">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
