@{
    ViewData["Title"] = "Admin Panel";
}

<h1>@ViewData["Title"]</h1>

<ul>
    <li><button class="aero"><h3><a class="nav-link text-dark" asp-area="" asp-controller="Genre" asp-action="Index">Genres</a></h3></button></li>
    <li><button class="aero"><h3><a class="nav-link text-dark" asp-area="" asp-controller="Film" asp-action="Index">Films</a></h3></button></li>
    <li><button class="aero"><h3><a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Employees</a></h3></button></li>
</ul>