@{
    ViewData["Title"] = "Admin Panel";
}

<h1>@ViewData["Title"]</h1>

<ul>
    <li><h3><a asp-area="" asp-controller="Genre" asp-action="Index">Genres</a></h3></li>
    <li><h3><a asp-area="" asp-controller="Film" asp-action="Index">Films</a></h3></li>
    <li><h3><a asp-area="" asp-controller="Employee" asp-action="Index">Employees</a></h3></li>
</ul>