@{
    ViewData["Title"] = "Home Page";
}

<div class="glass-card p-3">
    <div class="glass-filter"></div>
    <div class="glass-overlay"></div>
    <div class="glass-specular"></div>

    <div class="text-center">
        <h1 class="display-4">Welcome to Mažina Film Studios internal asset management portal!</h1>
        <p>Built with ♥ by <a href="https://github.com/lmihailovic">lmihailovic</a></p>
    </div>
</div>
