@model FilmStudioManager.Models.Employee
@{
    ViewData["Title"] = "Create Employee";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Role">Role</label>
        <input asp-for="Role" class="form-control">
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <button type="submit" class="aero">Create</button>
    <a asp-action="Index" class="aero danger">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
